* {
	border: none;
	border-radius: 0;
	font-family: FontAwesome, TerminessTTF Nerd Font, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background-color: #282c34;
	border-bottom: 0px;
	color: #61afef;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
	background-color: transparent;
	color: #61afef;
	box-shadow: inset 0 -2px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -2px #61afef;
}

#workspaces button.focused {
	background-color: transparent;
	box-shadow: inset 0 -2px #61afef;
}

#mode {
	background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#mpd {
	padding: 0 10px;
	margin: 0 4px;
	color: #61afef;
}
#window,
#workspaces {
	margin: 0 0px;
}

#custom-clock,
#clock {
	background-color: transparent;
}

#battery {
	background-color: transparent;
	color: #61afef;
}

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: transparent;
}

#memory {
	background-color: transparent;
}


#backlight {
	background-color: transparent;
}

#network {
	background-color: transparent;
}

#pulseaudio {
	background-color: transparent;
	color: #61afef;
}

#pulseaudio.muted {
	background-color: transparent;
	color: #61afef;
}

#temperature {
	background-color: #f0932b;
}

#tray {
	background-color: transparent;
}

